extends layout

block content
  
  .header
          
  .navbar
    a(class="navbar-brand", href='#') Recordspaces.com
    - var nblclass = ['nav','navbar-nav']
    ul(class=nblclass)
      li.active 
        a(href'#') Home
      li 
        a(href'#') Link 1
      li 
        a(href'#') Link 2
      
    ul(class=['nav','navbar-nav', 'pull-right'])  
      - var nbbclass = ['btn','btn-default','navbar-btn']
      button.button(class=nbbclass) Sign in  
        
      
  .container
    .row-fluid
      #content.span12
      
      h1= title    
      p Welcome to #{title}

      h2 Get your docs online!
      
      
      
    footer.footer
      p.pull-right 
        a(href='#') Back Home 
      p Built as a sample application with 
        a(href='http://documentcloud.github.com/backbone') Backbone.js, 
        a(href='http://twitter.github.com/bootstrap/') Twitter Bootstrap, 
        a(href='http://nodejs.org/') Node.js, 
   
  