doctype 5
html
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Recordspaces.com
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  
  body

    block content

    script(src='/public/javascripts/bootstrap.min.js')
    script(src='/public/javascripts/backbone-min.js')
