.navbar.navbar-inverse.navbar-fixed-top
  a.navbar-brand(href='#') Recordspaces
  
  ul.nav.navbar-nav 
    li.active 
      a(href'#') Home
    li 
      a(href'#') Link 1
    li 
      a(href'#') Link 2
  
  ul.nav.navbar-nav.pull-right  
    button.button.btn.btn-default.navbar-btn Sign in