extends layout

block content
  
  .header        
        
  .container
    .row-fluid
      #content.span12
      
      p Welcome to #{title}

    footer.footer
      p.pull-right 
        a(href='#') Back Home 
      p Built as a sample application with 
        a(href='http://documentcloud.github.com/backbone') Backbone.js, 
        a(href='http://twitter.github.com/bootstrap/') Twitter Bootstrap, 
        a(href='http://nodejs.org/') Node.js, 
     